@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

/* width */
::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  height: 0;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 0;
  border-radius: 0;
}




.blur-container {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  perspective: 1000px;
  overflow: hidden;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  animation: move 40s infinite linear;
}

@keyframes move {
  0% {
      transform: rotateX(0deg) rotateY(0deg) translateZ(0);
  }
  50% {
      transform: rotateX(180deg) rotateY(180deg) translateZ(500px);
  }
  100% {
      transform: rotateX(360deg) rotateY(360deg) translateZ(0);
  }
}
